<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="extend.mapper.HolidayConfigMapper">

    <resultMap id="BaseResultMap" type="extend.bean.HolidayConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="holidayNameCn" column="holiday_name_cn" jdbcType="VARCHAR"/>
            <result property="holidayNameEn" column="holiday_name_en" jdbcType="VARCHAR"/>
            <result property="holidayStartTime" column="holiday_start_time" jdbcType="TIMESTAMP"/>
            <result property="holidayEndTime" column="holiday_end_time" jdbcType="TIMESTAMP"/>
            <result property="holidaySize" column="holiday_size" jdbcType="INTEGER"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,holiday_name_cn,holiday_name_en,
        holiday_start_time,holiday_end_time,holiday_size,
        created,updated
    </sql>
    <select id="getHolidayConfigByNameCn" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            holiday_config
        where
            holiday_name_cn = #{nameCn}
    </select>
</mapper>
