<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="extend.mapper.StoreFlowMapper">

    <resultMap id="BaseResultMap" type="extend.bean.StoreFlow">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="storeId" column="store_id" jdbcType="VARCHAR"/>
        <result property="flowCount" column="flow_count" jdbcType="BIGINT"/>
        <result property="valid" column="valid" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,store_id,
        flow_count,valid,create_time,
        update_time
    </sql>
    <select id="selectLimit" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            store_flow
        where
            id &gt;= #{minId}
            and id &lt; #{minId} + 100
    </select>
    <select id="selectMinId" resultType="java.lang.Long">
        select
            min(id)
        from
            store_flow
    </select>
</mapper>
